:root{
    --blue: #007bff;
    --red: #ff5959;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    background-color: var(--gray);
}

.header-list {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.nav-item {
    margin: 0 1rem;
    font-weight: bold;
    color: white;
}

/* Start main-section */

.carousel-container {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--gray);
}

.carousel-slide {
    width: 70%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transform: translateY(10%);
}

.carousel-slide h1 {
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #fff;
}

.carousel-slide p {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
}

.round-button {
    background-color: transparent;
    border: var(--gray) solid 2px;
    border-radius: 50%;
    padding: 2rem;
    top: 45%;
    cursor: pointer;
}

#prevBtn {
    left: 3rem;
    position: absolute;
}

#prevBtn:hover {
    background-color: var(--red);
    border: none;
    left: 1%;
    transition: 1s;
}

#nextBtn {
    right: 3rem;
    position: absolute;
}

#nextBtn:hover {
    background-color: var(--red);
    border: none;
    right: 1%;
    transition: 1s;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 10px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    border: var(--red) solid 2px;
    background-color: transparent;
}

/* End main-section */


/* Start Services */

.service {
    background-color: var(--light);
}

.service-header {
    padding: 5rem 0 2.5rem 0;
}

.service-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.service-text {
    font-size: 18px;
    font-weight: 300;
    color: var(--gray-dark);
    padding: 0 21%;
    text-align: center;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    border-radius: 5px;
    height: 10rem;
    width: 30%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 4rem;
}

.img-card {
    margin: 0 0 1.5rem;
}

.card-title {
    font-size: 19px;
    font-weight: 400;
    margin: 0 0 19px;
}

.card-descr {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.2;
    color: var(--gray-dark);
}

.card:hover {
    background-color: #ff5959;
    transform: translateY(-5px);
    transition: 1s;
}